---
import ReadingLayout from "@/layouts/reading-layout.astro";
import { Image } from "astro:assets";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
	const posts = await getCollection("before");
	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<ReadingLayout
	route="/before"
	postTitle={post.data.title}
	postDescription={post.data.description}
	postDate={post.data.date.toDateString()}
	postUrl={`/before/${post.id}`}
>
	{
		post.data.heroImage && (
			<Image
				src={post.data.heroImage}
				alt={`Hero image for archive #${post.id}`}
				class="mb-8 w-full rounded-xl border border-(--color-text-muted)/20"
			/>
		)
	}
	<article class="e-content prose-content">
		<span><strong>Written On:</strong> {post.data.date.toLocaleString("en-IN")}</span>
		<Content />
	</article>
</ReadingLayout>
