---
import { ROUTES, SOCIALS } from '@/consts';

import '@/styles/global.css';
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<meta
			name='viewport'
			content='width=device-width'
		/>
		<meta
			name='generator'
			content={Astro.generator}
		/>
		<title>Astro</title>
	</head>
	<body class='flex min-h-screen flex-col items-center justify-center gap-4 p-4 font-serif'>
		<div class='grid grid-cols-2 gap-2 md:grid-cols-4'>
			{
				ROUTES.map((ROUTE) => (
					<a
						href={ROUTE.PATH}
						class='text-center hover:underline'
					>
						{ROUTE.NAME}
					</a>
				))
			}
		</div>
		<footer class='flex items-center justify-center p-4'>
			<p class='font-serif font-bold'>abhi <i>bole toh</i> now.</p>
		</footer>
		<div class='flex gap-2'>
			<p class='font-semibold'>socials:</p>
			{
				SOCIALS.map((SOCIAL) => (
					<a
						href={SOCIAL.HREF}
						class='hover:underline'
					>
						{SOCIAL.TEXT}
					</a>
				))
			}
		</div>
	</body>
</html>
