---
import BaseHead from "@/components/base-head.astro";
import Container from "@/components/container.astro";
import Header from "@/components/header.astro";
import { slideFromBottom } from "@/lib/transitions";
import { MAIN_ROUTES, ROUTES, SITE } from "@/consts";
import "@/styles/global.css";
import Footer from "@/components/footer.astro";

type Props = {
	route: string;
};

const { route } = Astro.props;
const currentRoute = ROUTES.find((r) => r.PATH === route || r.NAME === route);

if (!currentRoute) {
	throw new Error(`Route "${route}" not found in ROUTES`);
}

const isMainRoute = MAIN_ROUTES.includes(currentRoute);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={`${currentRoute.NAME} | ${SITE.TITLE}`}
			description={currentRoute.DESCRIPTION}
		/>
	</head>
	<body class="font-gummy">
		<Header section={currentRoute.NAME} />
		<main
			class="flex min-h-[calc(100vh-(--spacing(48)))] flex-1 flex-col pb-36"
			transition:animate={slideFromBottom}
		>
			<Container size="md">
				<div
					class="flex flex-col pt-48"
					style={`--route-color-light: ${currentRoute.COLOR.LIGHT}; --route-color-dark: ${currentRoute.COLOR.DARK};`}
				>
					<div class="flex flex-col space-x-6 md:flex-row">
						{
							isMainRoute ? (
								<div
									class="route-icon-display mb-2 size-14 -rotate-12 md:mb-0 md:size-16"
									style={`-webkit-mask: url(${currentRoute.ICON}) no-repeat center; mask: url(${currentRoute.ICON}) no-repeat center; -webkit-mask-size: contain; mask-size: contain;`}
									role="img"
									aria-label={currentRoute.NAME}
									transition:name={`icon-${currentRoute.NAME}`}
									transition:animate={slideFromBottom}
								/>
							) : (
								<div
									class="route-icon-display mb-2 size-14 -rotate-12 md:mb-0 md:size-16"
									style={`-webkit-mask: url(${currentRoute.ICON}) no-repeat center; mask: url(${currentRoute.ICON}) no-repeat center; -webkit-mask-size: contain; mask-size: contain;`}
									role="img"
									aria-label={currentRoute.NAME}
								/>
							)
						}
						<div class="flex flex-col">
							<h1 class="route-title text-3xl font-bold">
								{currentRoute.NAME}
							</h1>
							<p class="text-(--color-text)">{currentRoute.DESCRIPTION}</p>
						</div>
					</div>
				</div>
				<hr class="my-8 border-t border-(--color-text-muted)/50" />
				<slot />
			</Container>
		</main>
		<Footer />
	</body>
</html>

<style>
	.route-icon-display {
		background-color: var(--route-color-light);
	}

	.route-title {
		color: var(--route-color-light);
	}

	:global(.dark) .route-icon-display {
		background-color: var(--route-color-dark);
	}

	:global(.dark) .route-title {
		color: var(--route-color-dark);
	}
</style>
