---
import BaseHead from '@/components/base-head.astro';
import Container from '@/components/container.astro';
import Footer from '@/components/footer.astro';
import Header from '@/components/header.astro';
import { ROUTES, SITE } from '@/consts';
import '@/styles/global.css';

type Props = {
	route: string;
	postTitle: string;
	postDescription: string;
	postDate?: string;
};

const { route, postTitle, postDescription, postDate } = Astro.props;
const currentRoute = ROUTES.find((r) => r.PATH === route || r.NAME === route);

if (!currentRoute) {
	throw new Error(`Route "${route}" not found in ROUTES`);
}

// Custom slide-from-bottom transition
const slideFromBottom = {
	forwards: {
		old: {
			name: 'slideToTop',
			duration: '0.3s',
			easing: 'ease-in-out',
			fillMode: 'forwards',
		},
		new: {
			name: 'slideInFromBottom',
			duration: '0.3s',
			easing: 'ease-in-out',
			fillMode: 'forwards',
		},
	},
	backwards: {
		old: {
			name: 'slideOutToBottom',
			duration: '0.3s',
			easing: 'ease-in-out',
			fillMode: 'forwards',
		},
		new: {
			name: 'slideInFromTop',
			duration: '0.3s',
			easing: 'ease-in-out',
			fillMode: 'forwards',
		},
	},
};
---

<!doctype html>
<html lang='en'>
	<head>
		<BaseHead
			title={`${postTitle} | ${SITE.TITLE}`}
			description={postDescription}
		/>

		<style>
			.font-serif {
				font-family: 'Noto Serif JP', serif;
			}

			.font-gummy {
				font-family: 'Sour Gummy', sans-serif;
				font-optical-sizing: auto;
				font-weight: <weight>;
				font-style: normal;
				font-variation-settings: 'wdth' 400;
			}
		</style>
	</head>
	<body class='font-gummy'>
		<Header section={currentRoute.NAME} />
		<main
			class='bg-background flex min-h-[calc(100vh-(--spacing(56)))] flex-1 flex-col pb-12 md:pb-36'
			transition:animate={slideFromBottom}
		>
			<Container size='md'>
				<div class='flex flex-col pt-24 md:pt-48'>
					<div class='flex flex-col gap-2'>
						{postDate && <p class='text-sm text-(--color-text-muted) uppercase'>{postDate}</p>}
						<h1 class='text-3xl font-semibold'>
							{postTitle}
						</h1>
						<p class='text-(--color-text-muted)'>{postDescription}</p>
					</div>
				</div>
				<hr class='my-12 border-t border-(--color-text)/75' />
				<slot />
			</Container>
		</main>

		<Footer />
	</body>
</html>

<style is:global>
	@keyframes slideInFromBottom {
		from {
			opacity: 0;
			transform: translateY(30%);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes slideToTop {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(-30%);
		}
	}

	@keyframes slideOutToBottom {
		from {
			opacity: 1;
			transform: translateY(0);
		}
		to {
			opacity: 0;
			transform: translateY(30%);
		}
	}

	@keyframes slideInFromTop {
		from {
			opacity: 0;
			transform: translateY(-30%);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}
</style>
